.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100px;
    position: fixed;
    bottom:0;
    width:100vw;
    background-color: RED;
    color:white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}